<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>jamfProURL</key>
	<string>https://</string>
	<key>username</key>
	<string></string>
	<key>deviceType</key>
	<string></string>
	<key>restore_files</key>
	<integer>10</integer>
</dict>
</plist>
